@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9e2a2b;
  --secondary: #f5e6d3;
  --accent-1: #d2b48c;
  --accent-2: #8b4513;
  --accent-3: #a94442;
  --white: #FFFFFF;
  --offwhite: #E1E1E1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}